div{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 30%;
	left: 30%;
	background-color: black;
	/*transition: 1s steps(5,start) 1s;*/
	animation: changeShape 0.5s ease-in-out infinite alternate;
}/*
div:hover{
	border-radius: 50%;
    transform: rotate(120deg);
	transform: scale(0.7) translate(150px);
}*/

@keyframes changeShape{
	from{
		border-radius: 0%;
	}
	to{
		border-radius: 50%
	}
}