#container{
	height: 620px;
	width: auto;
	background-color: white;
	background-image: url('static/wall/4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: optimizeSpeed;
	margin: auto;
	border: solid black 2px ;
	border-radius: 6%;
	display: flex;
    flex-direction:column;
    flex-wrap: wrap;

    text-align: left;
    justify-content:flex-start;
    align-items: stretch;

    
}

#container div{
	height: 300px;
	width: 360px;
	border-radius: 5%;
	border: solid black 2px;
	background-position: center;
	margin: auto;
	text-align: center;
	/*opacity: 0.5;*/
}
#container div:hover{
	box-shadow:0px 0px 4px 4px grey;
	transition: 0.5s;
	opacity: 0.9;
	/*color-profile: inherit;*/
	list-style: lower-roman;
	mix-blend-mode: color-burn;
}
#div1{
	background-color: green;
	background-image: url('static/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 10;
}
#div2{
	background-color: red;
    background-image: url('static/2.jpg');
    background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 10;
}
#div3{
	background-color: cyan;
	background-image: url('static/3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 10;
}
#div4{
	background-color: orange;
	background-image: url('static/khabib.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 10;
}
#div5{
	background-color: grey;
	background-image: url('static/4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 10;
}
#div6{
	background-color: grey;
	background-image: url('static/5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 10;
}